@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");

:root {
  --main-desktop-font-family: "Comfortaa", cursive;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  -webkit-user-drag: none;
}

html,
body {
  width: 100vw;
  min-height: 100vh;
}

.card1 {
  position: absolute;
  left: 50px;
  top: 100px;
  width: 375px;
  height: 812px;
  background: #ffffff;
  display: flex;
  justify-content: center;
  border: 2px solid #d0d0d0;
  box-shadow: 0px 0px 4px #b3b3b3;
  border-radius: 20px;
}

.header1 {
  position: absolute;
  height: 44px;
  width: 375px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 21px;
  padding-right: 21px;
}

.main1 {
  display: flex;
  justify-content: center;
}

.main1 .headShot {
  position: absolute;
  display: flex;
  width: 128px;
  height: 128px;
  top: 76px;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
}

.main1 .headShot img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main1 h1 {
  position: absolute;
  width: 92px;
  height: 40px;
  left: 142px;
  top: 236px;
  font-family: var(--main-desktop-font-family);
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
}

.main1 h2 {
  position: relative;
  width: auto;
  height: 15px;
  top: 292px;
  font-weight: 900;
  font-size: 13px;
  line-height: 15px;
}

.button {
  position: absolute;
  width: 343px;
  height: 120px;
  left: 16px;
  top: 339px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.button :nth-child(1) {
  width: 343px;
  height: 52px;
  background-color: #0a0a23;
  color: #ffffff;
  border-radius: 10px;
}
.button :nth-child(2) {
  width: 343px;
  height: 52px;
  background-color: #ffffff;
  color: #0a0a23;
  border-radius: 10px;
}

.button :nth-child(1):hover {
  outline-color: transparent;
  outline-style: solid;
  box-shadow: 0 0 0 4px #5a01a7;
  transition: 0.7s;
}

.button :nth-child(2):hover {
  outline-color: transparent;
  outline-style: solid;
  box-shadow: 0 0 0 4px #5a01a7;
  transition: 0.7s;
}

.profiles {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  width: 343px;
  height: 238px;
  top: 491px;
  justify-content: space-between;
  overflow-y: auto;
}

.profiles .card1Img {
  width: calc(50% - 5px);
  height: auto;
  margin-top: 5px;
  border-radius: 5px;
}

::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}

.footer1 {
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  width: 375px;
  height: 83px;

  bottom: 0;
  padding-top: 9px;
}

.footer1Img {
  width: 40px;
  height: 40px;
}

.footer1 :nth-child(3) img {
  width: 70px;
}

.shape {
  position: absolute;
  bottom: 8px;
  width: 135px;
  height: 5px;
  background-color: #0a0a23;
  border-radius: 50px;
}

.card2 {
  position: absolute;
  left: 475px;
  top: 100px;
  width: 375px;
  height: 812px;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border: 2px solid #d0d0d0;
  box-shadow: 0px 0px 4px #b3b3b3;
  border-radius: 20px;
}

.header2 {
  position: absolute;
  height: 44px;
  width: 375px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 21px;
  padding-right: 21px;
  top: 8px;
}

.goBack {
  position: absolute;
  top: 60px;
  left: 16px;
}
.card2 h2 {
  position: absolute;
  width: 148px;
  height: 40px;
  left: 16px;
  top: 104px;
  font-family: var(--main-desktop-font-family);
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
}

.info {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  width: 100%;
  height: 500px;
  top: 176px;
}
.info .rectangle {
  width: 343px;
  height: 52px;
  border: 2px solid;
  border-radius: 5px;
  font-family: var(--main-desktop-font-family);
  font-size: 16px;
}

.info .rectangle:hover {
  outline-color: transparent;
  outline-style: solid;
  box-shadow: 0 0 0 4px #5a01a7;
  transition: 0.7s;
}

.info button {
  background-color: #0a0a23;
  color: #ffffff;
  border: none;
}

::placeholder {
  font-family: var(--main-desktop-font-family);
  font-size: 16px;
}
